body {
  background: rgb(195, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 0%,
    rgba(251, 45, 253, 1) 100%
  );
}

main {
  margin: 1em;
}

img {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000;
}

.carousel-inner {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000;
}

.forma-carta {
  display: contents;
}

.carosello,
.favourite,
.randomSongs {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: 400px;
  height: 400px;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}
