body {
  background-color: lightgray;
}

main {
  margin: 1em;
}
.carosello,
.favourite,
.randomSongs {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: 400px;
  height: 400px;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}
